name: WpLand

on:
    push:
        branches: 
            - dev
    rellease:
        types: [published]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@master
        - name: Confirm workflow

        - name: Prepare Wordpress Zip
          run: |
            WP_LINK=$(cat wp-version.cfg | head -n 1)
            wpget -O "wordpress.zip" $WP_LINK
        
        - name: Prepare plugins and themes zip
          run: zip -r plugins-themes.zip plugins themes mu-plugins

        - name: Copy  Zips to Server
          uses: WpLand/wpdeploy-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_ssh_key: ${{ secrets.WPLAND_SSH_KEY }}
            wp_ssh_password: ${{ secrets.WPLAND_SSH_PASSWORD }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            source: "./wordpress.zip, ./plugins-themes.zip"
            target: ${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}

        - name: Maintainance Mode Off
          uses: WpLand/scp-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_ssh_key: ${{ secrets.WPLAND_SSH_KEY }}
            wp_ssh_password: ${{ secrets.WPLAND_SSH_PASSWORD }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            source: ".maintenance"
            target: ${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}

        - name: Update Wordpress Core
          uses: WpLand/ssh-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_ssh_key: ${{ secrets.WPLAND_SSH_KEY }}
            wp_ssh_password: ${{ secrets.WPLAND_SSH_PASSWORD }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            script: |
              find "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}" -type f -name "*.php" ! -name "*wp-config.php*" -delete
              rm -r "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-admin/" "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-includes/"
              unzip -o "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wordpress.zip" -d "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/"
              mv "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wordpress/*" "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/"
              rm -m "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wordpress/"*


        - name: Update Plugins and Themes
          uses: WpLand/ssh-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_ssh_key: ${{ secrets.WPLAND_SSH_KEY }}
            wp_ssh_password: ${{ secrets.WPLAND_SSH_PASSWORD }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            script: |
              rm -r "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content/plugins" "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content/mu-plugins" "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content/themes"
              unzip -o "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content.zip" -d "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content/"

        
        - name: Disable Maintainance Mode
          uses: WpLand/ssh-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_ssh_key: ${{ secrets.WPLAND_SSH_KEY }}
            wp_ssh_password: ${{ secrets.WPLAND_SSH_PASSWORD }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            script: |
              rm -f "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/.maintenance"
              rm -f "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wp-content.zip"
              rm -f "${{ github.event_name == 'push' && '/var/www/html/docker-dev.dev-websoltan.com' || '/var/www/html/docker-live.dev-websoltan.com'}}/wordpress.zip"
