name: WpLand

on:
    push:
        branches: 
            - dev
    rellease:
        types: [published]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@master
        - name: Confirm workflow

        - name: Prepare Wordpress Zip
          run: |
            WP_LINK=$(cat wp-version.cfg | head -n 1)
            wpget -O "wordpress.zip" $WP_LINK
        
        - name: Prepare plugins and themes zip
          run: zip -r plugins-themes.zip plugins themes mu-plugins

        - name: Copy  Zips to Server
          uses: WpLand/wpdeploy-action@v1
          with:
            wp_host: ${{ secrets.WPLAND_HOST }}
            wp_username: ${{ secrets.WPLAND_USER }}
            wp_password: ${{ secrets.WPLAND_PASSWORD }}
            wp_site: ${{ secrets.WPLAND_SITE }}
            wp_port: ${{ secrets.WPLAND_PORT }}
            source: "./wordpress.zip, ./plugins-themes.zip"
            target: ${{ github.event_name == 'push' && '/var/www/html/dev' || '/var/www/html/live'}}
      